@{
    ViewBag.Title = "Missions";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Missions", "Missions", "Home")</li>
    
</ol>
<h2>@ViewBag.Title.</h2>
<p>Please click on the dropdown to select the mission that you would like to read more information about.</p>

<div class="row">
    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mission <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href='@Url.Action("MissionFAQ", "Home", new { name = "Florida" })'>Florida</a></li>
            <li><a href='@Url.Action("MissionFAQ", "Home", new { name = "Tokyo" })'>Tokyo</a></li>
            <li><a href='@Url.Action("MissionFAQ", "Home", new { name = "Paris" })'>Paris</a></li>
        </ul>
    </div>
</div>