@{
    ViewBag.Title = "MissionFAQ";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Missions", "Missions", "Home")</li>

</ol>
<h2>@ViewBag.Title.</h2>
<div class="col-md-8">
    <a href='@Url.Action("MissionFAQ", "Home", new { name = @ViewBag.name })' class="thumbnail">
        <p>@ViewBag.name</p>
        <img src="@ViewBag.image" alt="@ViewBag.name" style="width:150px;height:150px">
    </a>
</div>