@{
    ViewBag.Title = "Missions";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Missions", "Missions", "Home")</li>
    
</ol>
<h2>@ViewBag.Title.</h2>
<p>Please click on the photo of the Mission Flag that you would like to read more information.</p>

<div class="row">
    <div class="col-md-4">
        <a href='@Url.Action("MissionFAQ", "Home", new { name = "Florida" })' class="thumbnail">
            <p>Florida</p>
            <img src="../Content/Images/Florida.png" alt="Florida" style="width:150px;height:150px">
        </a>
    </div>
    <div class="col-md-4">
        <a href='@Url.Action("MissionFAQ", "Home", new { name = "Tokyo" })' class="thumbnail">
            <p>Tokyo</p>
            <img src="~/Content/Images/Tokyo.png" alt="Tokyo" style="width:150px;height:150px">
        </a>
    </div>
    <div class="col-md-4">
        <a href='@Url.Action("MissionFAQ", "Home", new { name = "Paris" })' class="thumbnail">
            <p>Paris</p>
            <img src="~/Content/Images/Paris.png" alt="Tuba" style="width:150px;height:150px">
        </a>
    </div>
</div>