@{
    ViewBag.Title = ViewBag.name + " Mission FAQs";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Missions", "Missions", "Home")</li>
    <li class="active">@ViewBag.name</li>
</ol>
<h2>@ViewBag.Title.</h2>
<div class="col-md-3">
    <a href='@Url.Action("MissionFAQ", "Home", new { name = @ViewBag.name })' class="thumbnail">
        <p>@ViewBag.name</p>
        <img src="@ViewBag.image" alt="@ViewBag.name" style="width:150px;height:150px">
    </a>
</div>
<div class="col-md-9">
    <p>Mission President: @ViewBag.MisPres</p>
    <p>Mission address:</p>
    <address>
        @ViewBag.MisStAdd<br />
        @ViewBag.MisAdd
    </address>
    <p>Language: @ViewBag.Lang</p>
    <p>Climate: @ViewBag.Clim</p>
    <p>Religion: @ViewBag.Rel</p>
</div><br />
<div class="row">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Hidden
                    </div>
                </div>
                <div class="panel-body">
                    Hidden
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Am I going to Baptize a lot?
                    </div>
                </div>
                <div class="panel-body">
                    That really depends on a lot of factors, including the Lord's plan for you, and his children in your areas. 
                    Your preparation will help you be intune with the spirit so that you will know what to say 
                    and know how to help others prepare to receive the gospel.
                    <input type="text" class="form-control" placeholder="Type your response here"><br />
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        What will the tempurature be like?
                    </div>
                </div>
                <div class="panel-body">
                    That depends on the area that you are assigned to, but in general it will be hot in the summer, and cold in the winter.
                    <input type="text" class="form-control" placeholder="Type your response here"><br />
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Will I like the food?
                    </div>
                </div>
                <div class="panel-body">
                    I'm sure that you'll love at least half of what you cook yourself,
                    and if you're lucky enough to get fed you might like about half of that too.
                    <input type="text" class="form-control" placeholder="Type your response here"><br />
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Will I come home ready to get married?
                    </div>
                </div>
                <div class="panel-body">
                    Everyone will want you to, and they will tell you all the time. 
                    You will definitely want to get married even just to shut them up, and if you date you will eventually.
                    <input type="text" class="form-control" placeholder="Type your response here"><br />
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
        <p>Do you have an additonal question. Type your question below.</p>
        <input type="text" class="form-control" placeholder="Type your question here"><br />
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</div>
