@{
    ViewBag.Title = ViewBag.name + "MissionFAQ";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Missions", "Missions", "Home")</li>
    <li class="active">@ViewBag.name</li>
</ol>
<h2>@ViewBag.Title.</h2>
<div class="col-md-8">
    <a href='@Url.Action("MissionFAQ", "Home", new { name = @ViewBag.name })' class="thumbnail">
        <p>@ViewBag.name</p>
        <img src="@ViewBag.image" alt="@ViewBag.name" style="width:150px;height:150px">
    </a>
</div>
<div class="col-md-4">
    <p>Mission President: @ViewBag.MisPres</p>
    <p>Mission address:</p>
    <address>
        @ViewBag.MisStAdd<br />
        @ViewBag.MisAdd
    </address>
    <p>Language: @ViewBag.Lang</p>
    <p>Climate: @ViewBag.Clim</p>
    <p>Religion: @ViewBag.Rel</p>
</div><br />
<div class="row">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Hidden
                    </div>
                </div>
                <div class="panel-body">
                    Hidden
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Q2.5
                    </div>
                </div>
                <div class="panel-body">
                    A
                    <input type="text" class="form-control" placeholder="Type your response here"><br />
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Q1
                    </div>
                </div>
                <div class="panel-body">
                    A
                    <input type="text" class="form-control" placeholder="Type your response here"><br />
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Q2
                    </div>
                </div>
                <div class="panel-body">
                    A
                    <input type="text" class="form-control" placeholder="Type your response here"><br />
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Q3
                    </div>
                </div>
                <div class="panel-body">
                    A
                    <input type="text" class="form-control" placeholder="Type your response here"><br />
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
