@model Project2.Models.Questions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Questions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId, missionid = Model.MissionId }) |
    @Html.ActionLink("Back to List", "Index", new { missionid = Model.MissionId })
</p>
